.profileContainer {
    width: 80%;
    margin: 0 auto;
    height: 90vh;
    overflow-y: scroll;
    padding: 10px;
    margin-top: 10px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10% 90%;
    border: 1px solid #dbdbdb;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.profileContainer::-webkit-scrollbar {
    display: none;
}

.itemsContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3px;
}

.item {
    padding: 50px;
    border-radius: 1px;
}

.addItemContainer {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(8, 1fr);
    grid-gap: 5%;
    height: 500px;
    width: 25%;
    padding: 8px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20vh;
    border: 1px solid #dbdbdb;
}
